.remove-text-deco:hover{
    text-decoration: none;
}
.c-social-media{
	font-size: 10px;
}
.dropdown-custom {
    position: relative;
    display: inline-block;
	color: red;
}
/* login block */
.myTable td {
    padding: 10px;
}
.login_block
{
	margin-top: 50px;
}
.well2
{
	background-color:rgba(110,110,110,0.2);
}
.jon_header{
	font-family:"alfa-slab-one";
	font-size: 50px;
}
.my_well
{
	margin-top: 50px;
	margin: 20px;
}
.c_header
{
	
}