.please_wait_modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) url('../images/big_loader.gif') 50% 50% no-repeat;
}


body.loading .please_wait_modal {
    overflow: hidden;   
}


body.loading .please_wait_modal {
    display: block;
}